/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ff9a4b;
  height: 50px;
}
main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.main-box {
  background-color: #eeeeee;
  width: 300px;
  position: relative;
  padding: 10px;
}
.main-box:nth-child(2) {
  margin: 0 30px;
}
.step {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img-box {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.img-box1 {
  background-image: url(img/flow01.png);
}
.img-box2 {
  background-image: url(img/flow02.png);
}
.img-box3 {
  background-image: url(img/flow03.png);
}
h3 {
  margin: 15px 0 5px 0;
}
footer {
  background-color: #aaaaaa;
  height: 50px;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display:block;
  }
  .main-box {
    width: 90%;
    margin-left: 5%;
  }
  .main-box:nth-child(2) {
    margin: 20px 0 20px 5%;
  }
}
